In [6]:
for i in range(1, 101):
    if i % 10 == 0:
        for _ in range(3):
            print("Ahmadfadhila")
    else:
        print(i)

1
2
3
4
5
6
7
8
9
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
11
12
13
14
15
16
17
18
19
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
21
22
23
24
25
26
27
28
29
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
31
32
33
34
35
36
37
38
39
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
41
42
43
44
45
46
47
48
49
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
51
52
53
54
55
56
57
58
59
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
61
62
63
64
65
66
67
68
69
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
71
72
73
74
75
76
77
78
79
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
81
82
83
84
85
86
87
88
89
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila
91
92
93
94
95
96
97
98
99
Ahmadfadhila
Ahmadfadhila
Ahmadfadhila

In [7]:
jumlah_prima = 0

# for
for i in range(2, 24):

    # Cek Bilangan Prima
    prima = True
    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            prima = False
            break

    # Output angka jika prima
    if prima:
        jumlah_prima += 1
        print(i)

print("Jumlah angka prima:", jumlah_prima)

2
3
5
7
11
13
17
19
23
Jumlah angka prima: 9

In [8]:
# While Loop dengan if else
j = 1
while j <= 24:
    if j % 3 == 0:
        print("Kelipatan 3")
    else:
        print(j)
    j += 1

1
2
Kelipatan 3
4
5
Kelipatan 3
7
8
Kelipatan 3
10
11
Kelipatan 3
13
14
Kelipatan 3
16
17
Kelipatan 3
19
20
Kelipatan 3
22
23
Kelipatan 3

In [10]:
angka = [
    "Satu", "Dua", "Tiga", "Empat", "Lima", "Enam", "Tujuh", "Delapan", "Sembilan", "Sepuluh",
]

# For
for i in angka:
    print(i)

Satu
Dua
Tiga
Empat
Lima
Enam
Tujuh
Delapan
Sembilan
Sepuluh